<div>
    <button mat-button>clickme</button>
    <button mat-raised-button>clickme</button>
    <button mat-flat-button>clickme</button>
    <button mat-stroked-button>clickme</button>
</div>
<div>
    <button mat-icon-button>Icon</button>
    <button mat-fab>fab</button>
    <button mat-mini-fab>minifab</button>
</div>
<div>
    <button color="primary" mat-button>Primary</button>
    <button color="accent" mat-button>accent</button>
    <button color="warn" mat-button>warn</button>
    <button color="primary" mat-raised-button>Primary</button>
    <button color="accent" mat-raised-button>accent</button>
    <button color="warn" mat-raised-button>warn</button>
</div>
<div>
    <mat-button-toggle #toggleBtn >Toggle</mat-button-toggle>
    {{ toggleBtn.checked }}
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
        <mat-button-toggle value="Angular">Angular</mat-button-toggle>
        <mat-button-toggle value="React">React</mat-button-toggle>
        <mat-button-toggle value="Vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{ toggleGroup.value }}
</div>
<div>
    <mat-icon color="primary">grade</mat-icon>
</div>
<div>
    <span matBadge='5' matBadgePoistion="below before" matBadgeSize="large" matBadgeColor="primary">notifications</span>
</div>
<div>
    <span matBadge='4' matBadgePosition="below after" matBadgeSize="medium" matBadgeColor="accent">notifications</span>
</div>
<div>
    <span [matBadge]="notifications" matBadgePosition="below before" matBadgeSize="small" matBadgeColor="warn">notifications</span>
</div>
<div>
    <mat-progress-spinner value="40"></mat-progress-spinner>
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
    <button (click)="loadData()">Load Data</button>
</div>
<mat-toolbar color="primary" class="navbar">
    <div>Codevolution</div>
    <div>
        <span>Home</span>
        <span>About</span>
        <span>Services</span>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav
    (opened)="logState('opened')"
    (closed)="logState('closed')"
     #sidenav mode="push" [(opened)]="opened">Sidenav</mat-sidenav>
    <mat-sidenav-content>Main
        <button (click)="opened=!opened">toggle opened</button>
        <button (click)="sidenav.open()">open</button>
        <button (click)="sidenav.close()">close</button>
        <button (click)="sidenav.toggle()">toggle</button>
    </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menu="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>Vue</button>
    <button mat-menu-item [matMenuTriggerFor]="subMenu">End</button>
</mat-menu>
<mat-menu #subMenu="matMenu">
    <button mat-menu-item>FrontEnd</button>
    <button mat-menu-item>BackEnd</button>
</mat-menu>
<mat-menu #thirdMenu="matMenu">
    <ng-template matMenuContent let-name="name" let-hobby="hobby">
        <button mat-menu-item>profit</button>
        <button mat-menu-item>log out {{ name }} like {{ hobby }}</button>
    </ng-template>
</mat-menu>
<button mat-flat-button [matMenuTriggerData]="{'name':'Tony','hobby':'music'}" [matMenuTriggerFor]="thirdMenu">Menu Tony</button>
<button mat-flat-button [matMenuTriggerData]="{'name':'David','hobby':'basketball'}" [matMenuTriggerFor]="thirdMenu">Menu David</button>

<mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 2</mat-list-item>
    <mat-list-item>Item 3</mat-list-item>
</mat-list>
<mat-nav-list>
    <a mat-list-item href="#"> Home </a>
    <a mat-list-item href="#"> About </a>
    <a mat-list-item href="#"> Service </a>
</mat-nav-list>
<mat-list>
    <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine>Heading</h3>
        <p matLine>Line</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Heading</h3>
        <p matLine>Line</p>
    </mat-list-item>
</mat-list>
<mat-accordion  multi="true">
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Angular Fundamentals</mat-panel-title>
        <mat-panel-description>Total Duration: 3 hours</mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the panel content.</p>
    <mat-action-row>
        <button mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>Angular 6</mat-panel-title>
        <mat-panel-description>Total Duration: 3.5 hours</mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the panel content2.</p>
    <mat-action-row>
        <button mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>
</mat-accordion>
<mat-card>
    <mat-card-title>Card title</mat-card-title>
    <mat-card-content>This is the card content</mat-card-content>
    <mat-card-actions align="end">
        <button mat-flat-button>Login</button>
    </mat-card-actions>
</mat-card>
<mat-tab-group #tabRef (selectedTabChange)="changeTab(tabRef)">
    <mat-tab label="Angular">Angular Content</mat-tab>
    <mat-tab label="React">React Content</mat-tab>
    <mat-tab label="Vue">Vue Content</mat-tab>
</mat-tab-group>
<mat-horizontal-stepper>
    <mat-step label="Shipping Address">
        <p>Shipping Address Details</p>
    </mat-step>
    <mat-step label="Billing Address">
        <p>Billing Address Details</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Place Order">
        <p>Order Details</p>
    </mat-step>
</mat-horizontal-stepper>
<mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill" color="accent">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field>
<mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline" color="warn">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field>
<mat-form-field>
    <mat-label>Topic</mat-label>
    <mat-select [(value)]="selectedValue" multiple>
        <mat-optgroup label="Web">
            <mat-option value="angular">Angular</mat-option>
            <mat-option value="react">React</mat-option>
            <mat-option value="vue">Vue</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Mobile">
            <mat-option value="IOS">IOS</mat-option>
            <mat-option value="Android">Android</mat-option>
        </mat-optgroup>
        
    </mat-select>
   
</mat-form-field> {{ selectedValue }}

<form>
    <mat-form-field>
        <input matInput [matAutocomplete]="auto" [formControl]="inputControl">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of obserableOptions | async " [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
 
    {{ testObserable | async }}
 <mat-checkbox>subscribe</mat-checkbox>
 <br>
 <mat-checkbox labelPosition="before" color="primary">
     subscribe
 </mat-checkbox>

<br>
<mat-checkbox labelPosition="before" color="warn">
    subscribe
</mat-checkbox>
<br>
<div >
    <mat-radio-group [(ngModel)]="selectedValue1" [formControl]="myRadio">
        <mat-radio-button value="Angular">Angular</mat-radio-button>
        <mat-radio-button value="React">React</mat-radio-button>
        <mat-radio-button value="Vue1*******1">Vue</mat-radio-button>
    </mat-radio-group>
    <small>{{ selectedValue1 }}</small>
</div>

<mat-form-field>
    <input matInput [matDatepicker]="myDatePicker" [matDatepickerFilter]="dateFilter" ><!--[min]="minDate" [max]="maxDate"-->
    <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #myDatePicker ></mat-datepicker>
    <!--startView="multi-year"-->
</mat-form-field>

<button mat-button (click)="openSnackBar('Item deleted', 'Undo')">open snackbar window</button>
<button mat-button (click)="openMyCustomSnackBar()">open custom bar</button>
<button mat-button (click)="openDialog()">open dialog</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="loadTableData(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>