<div>
    <button mat-button>clickme</button>
    <button mat-raised-button>clickme</button>
    <button mat-flat-button>clickme</button>
    <button mat-stroked-button>clickme</button>
</div>
<div>
    <button mat-icon-button>Icon</button>
    <button mat-fab>fab</button>
    <button mat-mini-fab>minifab</button>
</div>

<div>
    <button color="primary" mat-button>Primary</button>
    <button color="accent" mat-button>accent</button>
    <button color="warn" mat-button>warn</button>
    <button color="primary" mat-raised-button>Primary</button>
    <button color="accent" mat-raised-button>accent</button>
    <button color="warn" mat-raised-button>warn</button>
</div>